<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<style>
			h1 {
				text-align: center;
			}
			img {
				width: 500px;
				display: block;
  				margin-left: auto;
  				margin-right: auto;
			}
		</style>
	</head>
		
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
				  <li class="nav-item active">
					<a class="nav-link" href="users/add">Add User <span class="sr-only">(current)</span></a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="users">List User</a>
				  </li>
				</ul>
				<span class="navbar-text">
				</span>
			  </div>
		  </nav>


		<h1 class="tes"><%= title %></h1>
		<br>
		<br>
		<!-- <img src="https://asset-a.grid.id/crop/0x0:0x0/x/photo/gridoto/2017/10/08/4160058031.jpg" alt="sim"> -->

		</body>
		</html>
